doctype html
html
  head
    title CRUD
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet", href="/css/style.css")
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      a.navbar-brand(href='/') CRUD
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/articles')
              | Home
              span.sr-only (current)
          if user
            li.nav-item
              a.nav-link(href='/articles/add')
                | Add Article
          if user && user.roles.includes('admin')
            li.nav-item
              a.nav-link(href='/users')
                | Users
        ul.navbar-nav.float-right
          if user
            li.nav-item
              a.nav-link(href="/users/logout")
                | Logout
            li.nav-item
              a.nav-link(href=`/users/edit/${user.id}`)
                | Profile
          else
            li.nav-item
              a.nav-link(href='/users/register')
                | Register
            li.nav-item
              a.nav-link(href="/users/login")
                | Login
    .container
      != messages('message', locals)
      if errors
        each error, i in errors
          div(class="alert alert-danger") #{error.msg}
      block content
      br
      hr
      footer
        p Copyright &copy; 2020 J.T.
    script(src="/bower_components/jquery/dist/jquery.js")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.js")
    script(src="/js/main.js")
